<a href="https://colab.research.google.com/github/hanan333/python-peginner/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Question:Define a function that can accept two strings as input and concatenate them and then print it in console.
def printValue(s1,s2):
	print (s1+s2)

printValue("hello ","Aya")

hello Aya

In [ ]:
#Question 7 :
#Define a function that can accept an integer number as input and print the "It is an even number" if the number is even, otherwise print "It is an odd number".

#Hints:Use % operator to check if a number is even or odd.



def find(num):
    # code logic here
    if num%2 == 0:
        numtype="even"
    else:
        numtype = "odd"
    return numtype

num = int(input('Enter the number: '))  # 1. take your input
numtype = find(num)                     # 2. call the find function
print('Given number is',numtype)      # 3. print if the number is even or odd

Enter the number: 3
Given number is odd

In [ ]:
 #Question 5 :Define a function that can accept two strings as input and concatenate them and then print it in console.
#Hints:Use + to concatenate the strings
def concat(st1,st2):
  st1 =(input("Enter First Strings"))
  st2 =(input("Enter Second Strings"))
  concatt=st1+st2
  return concatt
  concatt=concat(st1,st2)
  print('The Strings after concatinations is:',concatt)

In [ ]:
from IPython.lib.display import IFrame
# Question 8 :Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No". 
#Hints:Use if statement to judge condition
#string=input(('Enter string yes or YES or Yes'))
s= input("Please Enter The Secret Word:")
if s=="yes" or s=="YES" or s=="Yes":
    print ("Yes")
else:
    print( "No")

Please Enter The Secret Word:yes
Yes

In [ ]:
#- write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
#between 2000 and 3200 (both included). Hint The numbers obtained should be printed in a comma-separated sequence on a single line.
#Consider use range(#begin, #end) method
n1=[]
for x in range(2000, 3200):
    if (x%7==0) and (x%5!=0):
        n1.append(str(x))
print (" ,".join(n1))

2002 ,2009 ,2016 ,2023 ,2037 ,2044 ,2051 ,2058 ,2072 ,2079 ,2086 ,2093 ,2107 ,2114 ,2121 ,2128 ,2142 ,2149 ,2156 ,2163 ,2177 ,2184 ,2191 ,2198 ,2212 ,2219 ,2226 ,2233 ,2247 ,2254 ,2261 ,2268 ,2282 ,2289 ,2296 ,2303 ,2317 ,2324 ,2331 ,2338 ,2352 ,2359 ,2366 ,2373 ,2387 ,2394 ,2401 ,2408 ,2422 ,2429 ,2436 ,2443 ,2457 ,2464 ,2471 ,2478 ,2492 ,2499 ,2506 ,2513 ,2527 ,2534 ,2541 ,2548 ,2562 ,2569 ,2576 ,2583 ,2597 ,2604 ,2611 ,2618 ,2632 ,2639 ,2646 ,2653 ,2667 ,2674 ,2681 ,2688 ,2702 ,2709 ,2716 ,2723 ,2737 ,2744 ,2751 ,2758 ,2772 ,2779 ,2786 ,2793 ,2807 ,2814 ,2821 ,2828 ,2842 ,2849 ,2856 ,2863 ,2877 ,2884 ,2891 ,2898 ,2912 ,2919 ,2926 ,2933 ,2947 ,2954 ,2961 ,2968 ,2982 ,2989 ,2996 ,3003 ,3017 ,3024 ,3031 ,3038 ,3052 ,3059 ,3066 ,3073 ,3087 ,3094 ,3101 ,3108 ,3122 ,3129 ,3136 ,3143 ,3157 ,3164 ,3171 ,3178 ,3192 ,3199

In [ ]:
# Question 1:
#Define a function which can print a dictionary where the keys are numbers between 1 and 3 (both included) and the values are square of keys.

#Hints:Use dict[key]=value pattern to put entry into a dictionary.Use ** operator to get power of a number.
def dictionary():
  d=dict()

  for x in range(1,4):
    d[x]=x**2
  print(d)  
dictionary()

{1: 1, 2: 4, 3: 9}

In [ ]:
 #Question 2:Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the values only.
#Hints:Use dict[key]=value pattern to put entry into a dictionary.Use ** operator to get power of a number.
#Use range() for loops.Use keys() to iterate keys in the dictionary. Also we can use item() to get key/value pairs.
def printDict():
	d=dict()
	for i in range(1,21):
		d[i]=i**2
	for k in d.values():
		print (k)
printDict()

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [ ]:
# Question 3:Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.
#Hints:Use dict[key]=value pattern to put entry into a dictionary,Use ** operator to get power of a number.
#Use range() for loops.Use keys() to iterate keys in the dictionary. Also we can use item() to get key/value pairs.

def printDict():
	d=dict()
	for i in range(1,21):
		d[i]=i**2
	for k in d.keys():
		print (k)
printDict()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
# Question 4 Write a Python program to check a dictionary is empty or not
dictt={'name':'ahmed',"age":30,"job":"teacher"}
 
dict2 = {}

print("The original dictionary : " ,(dictt))
print("The original dictionary : " ,(dict2))
# Check if dictionary is empty
if dictt:
   print("dict1 is not empty")
else:
   print("dict1 is empty")
if dict2:
   print("dict2 is not empty")
else:
   print("dict2 is empty")

The original dictionary :  {'name': 'ahmed', 'age': 30, 'job': 'teacher'}
The original dictionary :  {}
dict1 is not empty
dict2 is empty

In [ ]:
 #Question 5Write a Python program to test whether every element in s is in t and every element in t is in s.
listS = ['a', 'a', 'b','b','b','c']
listT = ['b', 'a','a','b','c','d']
all(item in listS for item in listT)and all(item in listT for item in listS)

False

In [ ]:
# Question 6 Create set 1 and set 2 then Write a Python program to 1- create an intersection of sets.
 #
list1 = {'a', 'a', 'b','b','b','c'}
list2 = {'b', 'a','a','b','c','d'}
z = list1.intersection(list2)

print(z)

#2-  a union of sets.
y = list1.union(list2)
print(y)
#3- create set difference.
h = list1.difference(list2)
print(h)
#4- a symmetric difference.
f = list1.symmetric_difference(list2)
print(f)

{'b', 'a', 'c'}
{'d', 'b', 'a', 'c'}
set()
{'d'}

In [ ]:
#Question  7Write a Python program to use of frozensets.
mylist = ['apple', 'banana', 'cherry']
x = frozenset(mylist)

#x[1] = "strawberry"        ##cannot frozen
print(x)

frozenset({'apple', 'banana', 'cherry'})

In [ ]:
# Question 8 Write a Python program to find maximum and the minimum value in a set.
num = {30, 10, 15, 15, 2, 90}
print("\nMaximum value of the num set is:",max(num))

Maximum value of the num set is: 90

In [ ]:
# Question9 :With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line. 
#Hints:Use [n1:n2] notation to get a slice from a tuple.
list = [1,2,3,4,5,6,7,8,9,10]

# Create list1 with half elements (first 3 elements)
n1 = list [:5]
# Create list2 with next half elements (next 3 elements)
n2 = list [5:]

# print list (s)
print ("list : ",list)
print ("list1: ",n1)
print ("list2: ",n2)

list :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 100]
list1:  [1, 2, 3, 4, 5]
list2:  [6, 7, 8, 9, 100]

In [ ]:
# Question 10 :
#You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:
#1: Sort based on name;
#2: Then sort based on age;
#3: Then sort by score.
#The priority is that name > age > score.
#If the following tuples are given as input to the program:
#Tom,19,80
#John,20,90
#Jony,17,91
#Jony,17,93
#Json,21,85
#Then, the output of the program should be:
#[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

#Hints:n case of input data being supplied to the question, it should be assumed to be a console input.
#We use itemgetter to enable multiple sort keys.
l = []
while True:
    s = raw_input()
    if not s:
        break
    l.append(tuple(s.split(",")))

print(sorted(l, key=itemgetter(0,1,2))

In [ ]:
# Question 11:Please write a program to generate a list with 5 random numbers between 100 and 200 inclusive.

import random
print (random.sample(range(100,201), 5))

[180, 193, 153, 195, 173]

In [ ]:
# Question 12 Please write a program to randomly generate a list with 5 even numbers between 100 and 200 inclusive.
import random
print (random.sample([i for i in range(100,201) if i%2==0], 5))

[176, 148, 160, 106, 112]

In [ ]:
# Question 13  Please write a program to randomly print a integer number between 7 and 15 inclusive.
# Hints: Use random.randrange() to a random integer in a given range.
import random
resp = [i for i in range(7,16,1)]
print(random.choice(resp))

7

In [ ]:
# Question 14
Please write a program to print the running time of execution of "1+1" for 100 times.
#ints:Use timeit() function to measure the running time.

In [ ]:
 #Question 15 :Please write a program to shuffle and print the list [3,6,7,8].
#Hints:Use shuffle() function to shuffle a list.
from random import shuffle
list = [3,6,7,8]
shuffle(list)
print(list)

[7, 8, 6, 3]

In [ ]:
f